body {
  --color-text: #fff;
  --color-bg: #272727;
  --color-bg-2: #010915;
  --color-link: #1089ff;
  --color-link-hover: #e2c391;
  background: radial-gradient(
    ellipse at 50% 50%,
    var(--color-bg) 40%,
    var(--color-bg-2) 150%
  );
}
img {
  /* display: block; */
  margin-left: 33%;
  margin-top: 23%;

  width: 35%;
  /* align:center; */
  /* align-items: center; */
}
@media only screen(min-width:700px) {
  img {
    margin-left: 0;
  }
}
