/* General link styles */
.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 8em;
  line-height: 1;
  color: #9e9ba4;
  display: inline-block;
}

/* Yaku */
.link--yaku {
  color: #d3d3d3;
  font-weight: 400;
  text-transform: uppercase;
  margin: auto;
  font-size: 5em;
  overflow: hidden;
  padding: 0 0 10px;
}

.link--yaku::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-width: 2px 0;
  border-color: #282828;
  border-style: solid;
  left: 0;
  -webkit-transform: translate3d(-101%, 0, 0);
  transform: translate3d(-101%, 0, 0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.link--yaku:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.link--yaku span {
  display: inline-block;
  position: relative;
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  -webkit-transition: -webkit-transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s;
}

.link--yaku:hover span {
  color: #1e1a1b;
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
  transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
}

/* Media Queries */
@media screen and (max-width: 50em) {
  .link--surinami {
    font-size: 2em;
  }
}

@media screen and (max-width: 42em) {
  .link--yaku {
    font-size: 2em;
  }
}
