body {
  color: green;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  font-family: 'verdana' ,sans-serif;
  background-color: #414141;
}
.im{
  color: #ff0000;
  font-size: 5.5rem;
  font-family: 'Kaushan Script', cursive;
  top: 150px;
  left:150px;

  }
/*h1 {
  color: #ff0000;
  margin: 50px auto 0 auto;
  font-size: 4.5rem;
  /* 100% = 16px = 1em -- em and % depends on parent size better to use rem */
  /*font-family: 'Kaushan Script', cursive;
}*/

h2 {
  color: #af0404;
  font-family: 'verdana', sans-serif;
  font-size: 3.5rem;
  /*padding-bottom: 5px;
*/}

h3 {
  color: #ff0000;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: 'verdana', sans-serif;

  /*padding-bottom: 5px;*/
}

a {
  color: #252525;
  text-decoration: none;
  font-family: 'verdana', sans-serif;
  margin: 5px 20px;
}

a:hover {
  color: white;
}

p {
  color: #ff0000;
  line-height: 2;
}

hr {
  border-style: none none dotted;
  border-color: #EAF6F6;
  border-width: 8px;
  width: 5%;
  margin: 100px auto;
}
.top {
  background-color: #252525;
text-align: center;
  position: relative;
  padding-top: 200px;
}

.middle {
  margin: 100px 0;
}

.findme {
  background-color: #ff0000;
  padding: 30px 0 10px;
}

.planet {
  position: absolute;
  right: 150px;
  top: 50px;
}

.top-star {
  position: absolute;
  left: 150px;
  bottom: 30px;
}


.skill {
  margin: 50px auto 100px auto;
  width: 50%;
  text-align: left;
}

.profile {
  margin: 100px auto 100px auto;
  width: 50%;
}

.code-img {
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 30px;
}

.art-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.design-img {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.profile-img {
  border-radius: 20%;
}

.myskills{
  color: #ff0000;
  font-size: 2rem;
  text-decoration: none;
  font-family: 'verdana', sans-serif;
  margin: 10px 20px;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}


.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e4cb;
  background-image: -webkit-linear-gradient(top, #30e4cb, #2bc48d);
  background-image: -moz-linear-gradient(top, #30e4cb, #2bc48d);
  background-image: -ms-linear-gradient(top, #30e4cb, #2bc48d);
  background-image: -o-linear-gradient(top, #30e4cb, #2bc48d);
  background-image: linear-gradient(to bottom, #30e4cb, #2bc48d);
  text-decoration: none;
}
